@model OrganizationsWaterSupplyL4.Models.CountersDatum

@{
    ViewData["Title"] = "Изменение";
}

<h1>Изменение</h1>

<h4>Показания счетчика</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CountersDataId" />
            <div class="form-group">
                <label asp-for="CounterRegistrationNumber" class="control-label"></label>
                <select asp-for="CounterRegistrationNumber" class="form-control" asp-items="ViewBag.CounterRegistrationNumber"></select>
                <span asp-validation-for="CounterRegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCheckDate" class="control-label"></label>
                <input asp-for="DataCheckDate" class="form-control" />
                <span asp-validation-for="DataCheckDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volume" class="control-label"></label>
                <input asp-for="Volume" class="form-control" />
                <span asp-validation-for="Volume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Список</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
