@model OrganizationsWaterSupplyL4.Models.CountersCheck

@{
    ViewData["Title"] = "Изменение";
}

<h1>Изменение</h1>

<h4>Поверка счетчика</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CountersCheckId" />
            <div class="form-group">
                <label asp-for="CounterRegistrationNumber" class="control-label"></label>
                <select asp-for="CounterRegistrationNumber" class="form-control" asp-items="ViewBag.CounterRegistrationNumber"></select>
                <span asp-validation-for="CounterRegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckDate" class="control-label"></label>
                <input asp-for="CheckDate" class="form-control" />
                <span asp-validation-for="CheckDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckResult" class="control-label"></label>
                <input asp-for="CheckResult" class="form-control" />
                <span asp-validation-for="CheckResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Список</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
